[submodule "zybo_z7-20/u-boot-xlnx"]
	path = zybo_z7-20/u-boot-xlnx
	url = https://github.com/Xilinx/u-boot-xlnx.git
[submodule "zybo_z7-20/linux-xlnx"]
	path = zybo_z7-20/linux-xlnx
	url = https://github.com/Xilinx/linux-xlnx
[submodule "zybo_z7-20/poky"]
	path = zybo_z7-20/poky
	url = https://git.yoctoproject.org/poky
	branch = zeus
[submodule "zybo_z7-20/vivado_2020_2/tests/zybo_z7-20_fpga_led_switch_test"]
	path = zybo_z7-20/vivado_2020_2/tests/zybo_z7-20_fpga_led_switch_test
	url = https://github.com/AustinOwens/zybo_z7-20_fpga_led_switch_test.git
[submodule "zybo_z7-20/vivado_2020_2/tests/zybo_z7-20_fpga_hdmi_test"]
	path = zybo_z7-20/vivado_2020_2/tests/zybo_z7-20_fpga_hdmi_test
	url = https://github.com/AustinOwens/zybo_z7-20_fpga_hdmi_test.git
